<p id="notice"><%= notice %></p>

<h1><%= @fighter.name %></h1>

<%= fighter_avatar(@fighter) %>

<h2>Stats</h2>
<table>
  <tr>
    <td>Experience</td><td><%= @fighter.experience %></td>
  </tr>
  <tr>
    <td>Attack</td><td><%= @fighter.attack %></td>
  </tr>
  <tr>
    <td>Health</td><td><%= @fighter.attack %></td>
  </tr>
  <tr>
    <td>Defense</td><td><%= @fighter.defense %></td>
  </tr>
  <tr>
    <td>V/D Ratio</td><td><%= @fighter.win_ratio %></td>
  </tr>
  <tr>
    <td>Victories</td><td><%= @fighter.victories %></td>
  </tr>
  <tr>
    <td>Defeats</td><td><%= @fighter.defeats %></td>
  </tr>
  <tr>
    <td>Victories</td><td><%= @fighter.victories %></td>
  </tr>
  <tr>
    <td>Weapon</td><td><%= @fighter.weapon_name %></td>
  </tr>
  <tr>
    <td>Shield</td><td><%= @fighter.shield_name %></td>
  </tr>
  <tr>
    <td>Total Attack</td><td><%= @fighter.total_attack %></td>
  </tr>
  <tr>
    <td>Total Defense</td><td><%= @fighter.total_defense %></td>
  </tr>
</table>

<h2>Fights history</h2>
<% @fighter.fights.each do |fight| %>
  <%= link_to fight_title(fight), fight_path(fight) %>
  <br />
<% end %>

<br />

<%= link_to 'Edit', edit_fighter_path(@fighter) %> |
<%= link_to 'Back', fighters_path %>
