<%= form_with(model: fight, local: true) do |form| %>
  <% if fight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fight.errors.count, "error") %> prohibited this fight from being saved:</h2>

      <ul>
      <% fight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag "Fighter 1" %>
    <%= select_tag :fighter_one, options_from_collection_for_select(fighters, "id", "name")%>
  </div>

  <div class="field">
    <%= label_tag "Fighter 2" %>
    <%= select_tag :fighter_two, options_from_collection_for_select(fighters, "id", "name")%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
