<p id="notice"><%= notice %></p>

<h1><%= @fight.vs_title %></h1>

<h2>The winner is <%= @fight.winner_name %></h2>

<h3>Fight summary</h3>

<%= fight_sequence(@fight) %>

<%= link_to 'Edit', edit_fight_path(@fight) %> |
<%= link_to 'Back', fights_path %>
