<p id="notice"><%= notice %></p>

<h1>The winner is <%= @fight.winner_name %></h1>

<h2>Fight summary</h2>

<%= fight_sequence(@fight) %>

<%= link_to 'Edit', edit_fight_path(@fight) %> |
<%= link_to 'Back', fights_path %>
